* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(./assets/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url(./assets/fonts/Merriweather-Bold.ttf);
}

html,
body {
    height: 100%;
    background-color: #000;
    scroll-behavior: smooth;
}

.app__portfolio {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 20px;
    color: #fff;
}

.header {
    background: url(./assets/img/header__background.png) center 0 no-repeat;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.link_all {
    text-decoration: none;
    color: #fff;
    transition: 0.8s;
}

.btn__all {
    width: 220px;
    height: 55px;
    background: transparent;
    border: none;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;    
    transition: 0.3s;
}

.section__title-wrapper {
    margin: 0 auto;
    padding: 99px 0 61px;
    max-width: 700px;
    text-align: center;
    overflow-x: hidden;
}

.section__title {
    position: relative;
    display: inline-block;
    font-family: 'Merriweather Bold';
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
}

.section__title::before,
.section__title::after  {
    content: '';
    position: absolute;
    top: 50%;
    width: 500px;
    border-bottom: 2px solid #BDAE82;
}

.section__title::before {
    margin-right: 20px;
    right: 100%;
}

.section__title::after {
    margin-left: 20px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(./assets/svg/header__logo.svg) center 2px no-repeat;
    transition: 0.8s;
}

.header__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.8s;
}

.nav__items,
.languages__items {
    list-style: none;
    display: flex;
}

.nav__link,
.lang__link {
    line-height: 50px;
}

.header__nav {
    padding: 20px 31px;
    margin-left: auto;
}

.nav__item:not(:last-child) {
    padding-right: 31px;
}

.nav__link:hover {
    color: #BDAE82;
    transition: 0.8s;
}

.lang__link {
    font-family: 'Inter Bold';
}

.languages__item:nth-child(1) a{
    color: #BDAE82;
}

.languages__item:nth-child(1) a:hover{
    color: #6e5b20;
}

.languages__item:nth-child(2) a:hover{
    color: #BDAE82;
    transition: 0.8s;
}

.languages__item:nth-child(1)::after {
    content: '/';
    line-height: 50px;
    padding: 0 8px 0 9px;
    font-family: 'Inter Bold';
}

.hero {
    height: 820px;
    background: url(./assets/img/header__background.png) center -90px no-repeat;
}

.hero__content {
    max-width: 500px;
    padding-top: 160px;
    margin-left: 60px;
}

.hero__title {
    margin-bottom: 10px;
    font-family: 'Merriweather Bold';
    font-size: 60px;
    line-height: 120px;
}

.hero__description {
    max-width: 470px;
    line-height: 40px;
    margin-bottom: 25px;
}

.hero__btn {
    background-color: #BDAE82;
}

.hero__btn:hover {
    color: #fff;
    transition: 0.3s;
}