* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(../assets/img/backgorund-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

.container {
    width:  90%;
    max-width: 1440px;
    margin: 0 auto;
}

.app__tic-tac {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
    font-family: cursive;
}

.header {
    flex: 0 0 auto;
    margin: 10px 0;
}

.header__wrapper {
    text-align: center;
}

.main {
    flex: 1 0 auto;
    transition: 1s;
    display: flex;
}

.main__wrapper {
    text-align: center;
}

.footer {
    flex: 0 0 auto;
    font-family: cursive;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__author-copy span {
    padding: 0 20px;
}

.footer__author-copy a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.6s;
}

.footer__author-copy a:hover {
    color: #ffffff;
}

.footer__school-logo {
    width: 135px;
    height: 50px;
    transition: 0.6s;
    filter: brightness(0%);
    padding: 10px 0;
}

.footer__school-logo:hover {
    filter: brightness(100%);
}