* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #000;
    color: rgb(255, 255, 255);
}

.container {
    width:  90%;
    max-width: 1440px;
    margin: 0 auto;
}

.nav__item.active {
    background-color: #c5b482;
    color: #000;
    box-shadow: inset  0px 0px 16px 8px rgba(0, 0, 0, 0.5);
}

.app__eco-sounds {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.header {
    flex: 0 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 5px 0;
    width: 50px;
    height: 50px;
    background-image: url(../assets/svg/logo1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
}

.header__logo.active {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header__logo.active:hover {
    filter: none;
}

.header__logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav__items {
    display: flex;
    list-style: none;
}

.nav__item {
    padding: 0 20px;
    line-height: 60px;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav__item:hover {
    color: #000;
    background-color: #c5b482;
}

.main {
    flex: 1 0 auto;
    background-image: url(../assets/img/forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    height: 60px;
    flex: 0 0 auto;
    font-family: 'Comforter', cursive;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__school-link img {
    width: 86px;
    height: 32px;
}